$font-interface: "agbookpro" ,"roboto-example", sans-serif
$font-title: "corbel" ,"roboto-example", sans-serif
$accent: #990033
$sub-accent: #ec535c
$dark-rose: #660033
$blue: #000066
$black: #000033
$white: white
$background: #ebe7ea

$desktop: (max-width: 960px)
$tablet: (max-width : 768px)
$phone: (max-width : 480px)