@import "fonts"
@import "libs"
@import "vars"
@import "text"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $font-interface
	overflow-x: hidden

ul
	list-style-type: none

a:hover
	text-decoration: none

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.nav__item a
	+nav

.section__text
	+text--16

.red-stripe__title
	+title--16b

.section__title
	+title--16u

.contacts__item
	+text--12

.button
	+text--12b

.services__title
	+text--14bu

.slider__title
	+title--34

.masters__name
	+title--16u

.masters__position
	+text--14

.contacts__title
	+title--30b


@import "media" // Всегда в конце
